<h1>List of Posts</h1>
<ul>
  <li>Post 1</li>
  <li>Post 2</li>
  <li>Post 3</li>
  <li>Post 4</li>
</ul>
{{link-to-external "Blog listing" "blog" tagName="button"}}
{{link-to-external "Home" "home" tagName="button"}}
{{outlet}}
